src/EasyControl.Api/obj/Debug/net8.0/EasyControl.Api.AssemblyInfo.cs
src/EasyControl.Api/obj/Debug/net8.0/EasyControl.Api.AssemblyInfoInputs.cache
src/EasyControl.Api/obj/Debug/net8.0/EasyControl.Api.assets.cache
src/EasyControl.Api/obj/Debug/net8.0/EasyControl.Api.GeneratedMSBuildEditorConfig.editorconfig
test/EasyControl.Test/obj/Debug/net8.0/EasyControl.Test.AssemblyInfo.cs
test/EasyControl.Test/obj/Debug/net8.0/EasyControl.Test.AssemblyInfoInputs.cache
